In [1]:
import pandas as pd

1. Convert d0 to a corresponding pandas object pd0.

In [2]:
d0 = {2:'a', 1:'b', 3:'c'}

In [3]:
pd0 = pd.Series(d0)
pd0

2    a
1    b
3    c
dtype: object

In [5]:
pd0_sorted = pd0.sort_index()
pd0_sorted

1    b
2    a
3    c
dtype: object

2. Sort indices of pd0.
3. Convert d1, d2 (together) to a pandas object dd.

In [7]:

# Example dictionaries
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}

# Convert d1 to a Pandas Series
series1 = pd.Series(d1)

# Convert d2 to a Pandas Series
series2 = pd.Series(d2)

# Concatenate the two Series into a single DataFrame (if needed)
dd = pd.concat([series1, series2], axis=1)

# Display the resulting DataFrame
print(dd)

     0    1
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

4. Give examples of indexing and slicing on dd.

In [20]:

# Indexing using column name
column_a = dd[1]  # Get the 'a' column as a Series
print(column_a)

# Slicing rows
first_two_rows = dd[:2]  # Get the first two rows
print(first_two_rows)

# Indexing using loc (label-based)
row_0 = dd.loc['a']  # Get the first row by label (index 0)
print(row_0)

a    NaN
b    3.0
c    4.0
Name: 1, dtype: float64
     0    1
a  1.0  NaN
b  2.0  3.0
0    1.0
1    NaN
Name: a, dtype: float64

5. Give examples of implicit and explicit indexing on dd.
6. Forward fll and backfll missing values using various axis.

In [21]:
# Import Pandas
import pandas as pd

# Create DataFrame dd from d1 and d2
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
dd = pd.DataFrame({'d1': d1, 'd2': d2})

# Display dd
print("DataFrame dd:")
print(dd)

# Example of explicit indexing
value_at_a = dd['d1']['a']  # Explicit indexing using labels
print("\nExplicit Indexing - Value at 'a':")
print(value_at_a)

# Example of slicing
sliced_df = dd[['d1']]  # Slicing a single column
print("\nSliced DataFrame:")
print(sliced_df)

# Forward fill (ffill) missing values using ffill() method
ffill_df = dd.ffill(axis=1)  # Forward fill along rows (axis=1)
print("\nForward Fill (axis=1):")
print(ffill_df)

# Backfill (bfill) missing values using bfill() method
bfill_df = dd.bfill(axis=0)  # Backfill along columns (axis=0)
print("\nBack Fill (axis=0):")
print(bfill_df)

DataFrame dd:
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

Explicit Indexing - Value at 'a':
1.0

Sliced DataFrame:
    d1
a  1.0
b  2.0
c  NaN

Forward Fill (axis=1):
    d1   d2
a  1.0  1.0
b  2.0  3.0
c  NaN  4.0

Back Fill (axis=0):
    d1   d2
a  1.0  3.0
b  2.0  3.0
c  NaN  4.0